src/grammar/grammar.tab.c
src/grammar/grammar.tab.h
src/grammar/lex.yy.c
grammar/grammar.tab.c
grammar/grammar.tab.h
grammar/lex.yy.c
.codex
.agents
ss
bin/
build/
assembler
linker
emulator
src/c_src/grammar.tab.c
src/c_src/grammar.tab.h
src/c_src/lex.yy.c
*.bin
*.o
*.hex
